@import '../../Color.module.scss';

.primary {
    background: linear-gradient(-90deg, $primaryGradientColor, $secondaryGradientColor);
    border: 0;
}

.primaryInverse {
    color: $primaryColor;
    background: transparent;
    border: $primaryColor 1px solid;
}

.primaryInverse:hover {
    color: white;
    background: linear-gradient(-90deg, $primaryGradientColor, $secondaryGradientColor);
    border: 0;
}

.secondary {
    background-color: grey;
    color: white;
    border: 1px solid grey;
}

.secondaryInverse {
    background-color: transparent;
    color: grey;
    border: 1px solid grey;
}

.secondaryInverse:hover {
    background-color: grey;
    color: white;
    border: 1px solid grey;
}

.danger {
    background-color: #c0392b;
    border: #c0392b 1px solid;
}

.danger:hover {
    color: #c0392b;
    background: transparent;
    border: #c0392b 1px solid;
}

.dangerInverse {
    color: #c0392b;
    background: transparent;
    border: #c0392b 1px solid;
}

.dangerInverse:hover {
    color: white;
    background-color: #c0392b;
    border: #c0392b 1px solid;
}

.hoverEffect:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
}

.fullWidth {
    width: 100%;
}

.floatRight {
    float: right;
}
