@import '../../Color.module.scss';

.primaryButton {
    background: linear-gradient(-90deg, $primaryGradientColor, $secondaryGradientColor);
    border: 0;
}

.primaryButtonInverse {
    color: $primaryColor;
    background: none;
    border: $primaryColor 1px solid;
}

.primaryButtonInverse:hover {
    color: white;
    background: linear-gradient(-90deg, $primaryGradientColor, $secondaryGradientColor);
    border: 0;
}

.hoverEffect:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
}

.fullWidth {
    width: 100%;
}

.floatRight {
    float: right;
}
