.listItem {
    margin: 0 !important;
    background-color: white;
    margin-top: 15px !important;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
}

.buttonSpace {
    text-align: right;
}
